* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #F0F2F5; */
}
.greenbox{
    background-color:#00A884;
    height: 150px;
}

.white-bg{
    background-color: white;
    border: 1px solid red;
    width: 900px;
    margin: auto;
    padding: 10px 30px;
}
.app{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}
.qr-code{
    transform: translate(580px,-250px);
}

.qr-code-1{
    /* transform: translateY(-250px); */
    display: none;
}
hr{
    display: block;
    margin-top:0 ;
}
.border{
    border: 1px  solid blue;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
}

#use{
    color: rgb(122, 122, 115);
    font-size: 32px;
    margin: 10px 0;
}

li{
    margin: 25px 0;
    font-size: 25px;
    color: rgb(156, 147, 133);
}
.link{
    text-decoration: none;

    color: green;
    margin: 30px 0;
    display: block;
    font-size: 20px;
}

.video{
    background-color: #F9F9FA;
}

.tut{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #41525D;
}
.help{
    text-decoration: none;
    padding: 5px 0;
    text-align: center;
    display: block;
    color: #008069;
}

.video{
    margin-left: 5%;
}

